.badge{
    font-size:25px;
}

.mes_badges{
    margin:auto;
    text-align:center;
}

h5, p{
    color:black;
}

.btn{
    border:1px solid black;
    text-align:center;
    margin-left:5px;
}

.titlep{
    text-align:center;
    background:darkgrey;
}
.cadres{
    border:1px solid black;
}

.titre1{
    padding:5px;
    text-align:center;

}
.titre2{
    padding:5px;
    text-align:center;
    margin:auto;
}
.image_carte{
    background-color:rgba(255,255,255,0.8);
    transition: all 0.5s ease;
   }
   
.image_carte:hover{
    opacity:1;
}
   
.image_carte img{opacity:0.5;}
   
.image_carte:hover img{opacity:1;}
     

.texte{
    position: absolute;
    top:2%;
    left:15%;
    font-family:arial;
    font-size:15px;
    text-align:center;
    color:#ffffff;
    background:rgba(255, 255, 255, 0.5);
    border-radius:20px;
    padding:10px;
    width:250px;
    }

.texte:hover{
opacity:0;
}
.card{
    background-color:rgba(255,255,255,0.8);

}
.card:hover{
    opacity:1;}
.imageget{
    width:150px;
    padding:5px;
}

.imagehunter{
    width:85px;
    height:85px;
    padding:5px;
}

.imagering{
    width:100px;
    height:100px;
    border-radius:90%;
    float:right;
}

.imgsauron{
    width:100px;
    height:100px;
    float:left;
    padding:5px;
}

.bloc1{
    position: absolute;
}

.bloc2{
    position: absolute;
    left:35%;
}

.bloc3{
    position: absolute;
    left:65%;
}
